{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/white-logo.png' %}" alt="" class="img-fluid" style="width: auto; height: 10vh;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li 
            {% if '/' == request.path %} 
              class="nav-item btn btn-6 btn-6a active mr-3" 
            {% else %} 
              class="nav-item btn btn-6 btn-6a mr-3" 
            {% endif %}
          >
              <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li 
            {% if 'about' in request.path %} 
              class="nav-item btn btn-6-blue btn-6a-blue active mr-3" 
            {% else %} 
              class="nav-item btn btn-6-blue btn-6a-blue mr-3"
            {% endif %}>
              <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li 
            {% if 'work' in request.path %} 
              class="nav-item btn btn-6-l-blue btn-6a-l-blue active mr-3" 
            {% else %} 
              class="nav-item btn btn-6-l-blue btn-6a-l-blue mr-3"
            {% endif %}>
            <a class="nav-link" href="#">Work</a>
          </li>
          <li 
            {% if 'tearsheets' in request.path %} 
              class="nav-item btn btn-6-green btn-6a-green active mr-3" 
            {% else %} 
              class="nav-item btn btn-6-green btn-6a-green mr-3"
            {% endif %}>
            <a class="nav-link" href="{% url 'tearsheets' %}">Tearsheets</a>
          </li>
          <li 
          {% if 'testimonials' in request.path %} 
            class="nav-item btn btn-6-yellow btn-6a-yellow active mr-3" 
          {% else %} 
            class="nav-item btn btn-6-yellow btn-6a-yellow mr-3"
          {% endif %}>
          <a class="nav-link blog-title blog-link" href="#">Testimonials</a>
        </li>
          <li 
            {% if 'news' in request.path %} 
              class="nav-item btn btn-6-red btn-6a-red active mr-3" 
            {% else %} 
              class="nav-item btn btn-6-red btn-6a-red mr-3"
            {% endif %}>
              <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
        <ul class="details ml-auto animated fadeInRightBig">
          <li>
            <p class="name">Ian Macaulay</p>
          </li>
          <li>
            <p><ion-icon name="call"></ion-icon> 07976701702</p>
          </li>
          <li>
            <p class="email"><ion-icon name="mail"></ion-icon> ian<span class="email">@</span>ianmacaulay.com</p>
          </li>
        </ul>
      </div>
    </nav>