{% load static %}
<div class="site-wrap">
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar py-3" role="banner">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6 col-xl-2" data-aos="fade-down">
          <h1 class="mb-0"></h1>
          <ul
            class="site-menu js-clone-nav ml-auto list-unstyled   mb-0"
          ></ul>
        </div>
        <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
          <nav
            class="site-navigation position-relative text-right text-lg-center"
            role="navigation"
          >
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
              <li class="active">
                <a href="{% url 'index' %}" class="mb-0"
                  ><img
                    src="{% static 'images/logo-ian-text.png' %}"
                    class="logo"
                    alt="logo"
                /></a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
          <div class="d-none d-xl-inline-block">
            <ul
              class="site-menu js-clone-nav ml-auto list-unstyled  text-right mb-0"
            ></ul>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-8 col-xl-2" data-aos="fade-down">
          <a href="{% url 'index' %}" class="mb-0"
            ><img
              src="{% static 'images/logo-ian-text.png' %}"
              class="logo-nav img-fluid"
              alt="logo"
          /></a>
          <ul
            class="site-menu js-clone-nav ml-auto list-unstyled   mb-0"
          ></ul>
        </div>
        <div class="col-12 d-none d-xl-block" data-aos="fade-down">
          <nav
            class="site-navigation position-relative text-right text-lg-center"
            role="navigation"
          >
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
              <li class="active"><a href="{% url 'index' %}">Home</a></li>
              <li><a href="#">Welcome</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#">Recent Activity</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Tearsheets</a></li>
              <li><a href="#">Exhibitions</a></li>
              <li><a href="#">Elements</a></li>
              <li><a href="#">Game</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-4 col-xl-2 text-right" data-aos="fade-down">
          <div class="d-none d-xl-inline-block">
            <ul
              class="site-menu js-clone-nav ml-auto list-unstyled  text-right mb-0"
            ></ul>
          </div>

          <div
            class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
            style="position: relative; top: 3px;"
          >
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"
              ><span class="icon-menu h3"></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </header>