<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="tearsheets-container">
    <div id="outerDiv">
        <div id="carousel">
            {% for tearsheet in tearsheets %}
                {% if tearsheet.is_published %}
                    <div class="designs">
                        <div class="image">
                            <img src="{{tearsheet.photo_main.url}}"></img>
                        </div>
                        <span class="text">
                            <p>{{tearsheet.title}}</p>
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
