<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Exhibitions -->
<section id="exhibitions" class="py-5">
  <div class="container">
    <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->

    <div id="container">
      <ul id="lijst">
        {% if tearsheets %} {% for tearsheet in tearsheets %}
        <li class="element 
        {% if tearsheet.is_vertical %}
          vertical-v 
        {% else %} 
          horizontal-h
        {% endif %}">
          <ul>
            <img class="img-fluid" src="{{ tearsheet.photo_main.url }}" />
            <li class="jaartal j-yellow"></li>
          </ul>
        </li>
        {% endfor %}
      </ul>


    </div>
    <div class="text-center">
      <button class="bg-yellow" id="later">
        <</button> <button class="bg-yellow" id="vroeger">>
      </button>
    </div>
    {% else %}
    <div class="row text-center">
      <div class="col-md-12">
        <p>No Tearsheets Available</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}