<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="app">  
    <div class="frame">
        <h1 class="willow title"><span>Tearsheets</span></h1>
    </div>
    <div class="flow" ref="flow">
        {% for tearsheet in tearsheets %}
            {% if tearsheet.is_published %}
                <div v-for="tab of tabs" class="item"><img class="item" src="{{tearsheet.photo_main.url}}"/></div>
            {% endif %}
        {% endfor %}
    </div>  
</div>

{% endblock %}