<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="container-fluid main-img"></div> -->
<div class="tech-slideshow">
  <div class="mover-1"></div>
<!--   <div class="mover-2"></div> -->
</div>
<div class="quote">
  <p>
    I don't know what London's coming to - the higher the buildings the
    lower the morals <span>Noel Cowerd</span>
  </p>
</div>

<!-- <div class="container-fluid" data-aos="fade" data-aos-delay="500">
  <div class="swiper-container images-carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano2.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano4.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano5.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano2.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano4.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrap">
          <div class="image-info"></div>
          <img src="{% static 'images/pano5.jpg' %}" alt="Image" />
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div> -->
{% endblock %}