<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row about">
    <div class="col-12 col-xl-4">
      {% if welcomes %} {% for welcome in welcomes %}
      {{welcome.content_left|safe}} {% endfor %} {% endif %}
      <img
        src="{% static '/images/signature.jpg' %}"
        alt=""
        class="img-fluid signature"
      />
    </div>
    <div class="col-12 col-xl-4 img">
      <div>
        <img
          src="{% static '/images/pic2.png' %}"
          alt="pic"
          class="pic2 img-fluid"
        />
      </div>
      <div class="frame">
        <img
          src="{% static '/images/pic1.png' %}"
          alt="pic"
          class="pic img-fluid"
        />
      </div>
    </div>
    <div class="col-12 col-xl-4">
      {% if welcomes %} {% for welcome in welcomes %}
      {{welcome.content_right|safe}} {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
