<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
                <div class="row about">
                                <div class="col-12 col-lg-4">
                                        <p>Thanks for taking the time to look at my work.<br/><br/>
                                                I’m always looking for ways to improve the service I offer so all comments,
                                                compliments or criticisms are welcome, though as Noel Cowerd said ’I can
                                                stand any amount of criticism as long as it’s unqualified praise’<br/><br/>
                                                Emails go straight to my phone but if it’s urgent please call – if I’m not able to
                                                answer, leave a message and I’ll respond as soon as I can<br/><br/>
                                                If I’m unavailable for a job I’ll be happy to recommend a suitable colleague
                                                who may be free to help, because I’m good that way….<br/><br/>
                                                Thanks for visiting</p>
                                                <img src="{% static '/images/signature.jpg' %}" alt="" class="img-fluid signature"/>
                                </div>
                                <div class="col-12 col-lg-4 img">
                                        <img src="{% static '/images/pic.png' %}" alt="pic" class="pic img-fluid hinge"/>
                                </div>
                                <div class="col-12 col-lg-4">
                                        <p><strong class="since">Since you ask…</strong><br/><br/>

                                                Born & raised in Scotland, I completed a B.Sc in Pure Mathematics before relocating to London to study photojournalism and launch my photographic career in 1985<br/><br/>
                                                
                                                Although I began working for fashion trade magazines and PR companies, I’ve worked extensively for the retail, financial, legal and technology sectors and my work has featured in many newspapers, magazines, in advertising,  annual reports & corporate communications publications<br/><br/>
                                                
                                                Many of my personal projects have been shown in London galleries, notably two exhibitions at Harrods and most recently my longstanding project on redheads<br/><br/>
                                                
                                                I’m a visiting lecturer at the University for the Arts London where I’ve taught Professional Photographic Practice since 1995. More recently I’ve been a tutor on the Graduate Diploma in Photography course and also teach several courses on photographic technique & visual culture for other colleges<br/><br/>
                                                
                                                Over the years I’ve held workshops for many clients on effective briefing of photographers, getting press releases published and taking better pictures<br/><br/>
                                                
                                                I live with my redhead wife Susan and our two cats in the tax haven and tropical paradise of Southeast London<br/><br/>
                                                </p>
                                    
                                </div>
                            </div>
</div>
{% endblock %}