<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<!-- Photos -->
<section id="testimonial" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 py-5">
                <h2 class="title blog-title post-title">{{testimonial.name}} - {{testimonial.title}}</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <img src="{{testimonial.photo_main.url}}" alt="" class="mb-3 img-fluid card-img-top">
                    <div class="card-body">
                        <p class="card-text justify">{{ testimonial.testimonial}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}