    
<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    {% if testimonials %}
        <div class= "row">
        {% for testimonial in testimonials %}
            {% if testimonial.is_published %}
                <div class="col-md-4">
                    <figure class="snip1314"><img src="{{testimonial.photo_main.url}}" alt="sample13"/>
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div>
                        <figcaption class="text-center align-middle">
                            <blockquote><span>{{testimonial.name}}</span> - <span>{{testimonial.title}}</span></h5>
                        </figcaption><a href="{{ testimonial.id }}"></a>
                    </figure>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
    <div class="row text-center">
        <div class="col-md-12">
            <p>No Testimonials Available</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}