    
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Works -->
<section id="works" class="py-5">
    <div class="container">
        <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->
        {% if exhibitions %}
            <div class="container-exh">
                <nav class="nav-exh">
                    <ul class="ul-exh">
                    <li class="li-exh">
                        {% for exhibition in exhibitions %}
                            {% if exhibition.is_published %}
                                <p>{{exhibition.date | date:"Y"}}</p>
                                <a href="#"><span></span>{{exhibition.description}}</a>
                                <img src="{{exhibition.photo_main.url}}" alt="" class="exh-img">
                            {% endif %}
                        {% endfor %}
                    </li>
                    </ul>
                </nav>
            </div>
         {% else %}
            <div class="row text-center">
                <div class="col-md-12">
                    <p>No Exhibitions Available</p>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}