<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Exhibitions -->
<section id="exhibitions" class="py-5">
  <div class="container">
    <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->
    <div class="row">
      {% if exhibitions %} {% for exhibition in exhibitions %}
      <div class="col-md-4 mb-5">
        <div class="square-container square-container-exh">
          <div class="square square-exh">
            <div class="front">
              <div class="container py-3">
                <span class="work-title"><h3 class="pink-title">{{exhibition.date | date:"Y"}}</h3></br>{{exhibition.title}}</span>
            </div>
            </div>
            <div class="back">
              <img
                class="work-img work-img-exh"
                src="{{ exhibition.photo_main.url }}"
              />
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p>No Exhibitions Available</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
