<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Exhibitions -->
<section id="exhibitions" class="py-5">
  <div class="container">
    <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->

    <div id="container">
      <ul id="lijst">
        {% if exhibitions %} {% for exhibition in exhibitions %}
        <li class="element 
        {% if exhibition.is_vertical %}
          vertical 
        {% else %} 
          horizontal
        {% endif %}">
          <ul>
            <img class="img-fluid" src="{{ exhibition.photo_main.url }}" />
            <li class="jaartal">{{exhibition.date | date:"Y"}}</li>
            <li class="ondertitel">{{exhibition.title}}</li>
          </ul>
        </li>
        {% endfor %}
      </ul>

    </div>
    <div class="text-center">
      <button class="bg-pink" id="later">
        <</button> <button class="bg-pink" id="vroeger">>
      </button>
    </div>
    {% else %}
    <div class="row text-center">
      <div class="col-md-12">
        <p>No Exhibitions Available</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}