<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- Photos -->
<section id="works" class="py-5">
  <div class="container">
    <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->
    {% if works %} {% for work in works %} {% if not
    forloop.counter|divisibleby:2 %}
    <div class="row text-center post-container py-3">
      <div class="col-md-5 mb-3">
        <img src="{{ work.photo_main.url }}" alt="" class="mb-3 img-fluid" />
      </div>
      <div class="col-md-7 mb-3">
        <div class="body">
          <h5 class="card-title">{{ work.title }}{{ work.id }}</h5>
          <p class="card-text">{{ work.description }}</p>
          <!-- <a href="{{ work.id }}" class="btn btn-danger">Read More</a> -->
        </div>
      </div>
    </div>
    {% else %}
    <div class="row text-center post-container py-3">
      <div class="col-md-7 mb-3">
        <div class="body">
          <h5 class="card-title">{{ work.title }}</h5>
          <p class="card-text">{{ work.description }}</p>
          <!-- <a href="{{ work.id }}" class="btn btn-danger">Read More</a> -->
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <img src="{{ work.photo_main.url }}" alt="" class="mb-3 img-fluid" />
      </div>
    </div>
    {% endif %} {% endfor %} {% else %}
    <div class="row text-center">
      <div class="col-md-12">
        <p>No Works Available</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
