<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<!-- Works -->
<section id="works" class="py-5">
    <div class="container">
        <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->
        {% if works %}
        <div class="row justify-content-center">
            {% for work in works %}
                {% if work.is_published %}
                        <div class="col-12 mb-3">
                            <div class="square-container">
                                <div class="square">
                                    <div class="front">
                                        <img class="work-img" src="{{work.photo_main.url}}">
                                    </div>
                                    <div class="back">
                                        <p class="p-5">
                                            <span class="work-title">{{work.title}}</span><br/>
                                            {{work.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>    
                {% endif %}
            {% endfor %}
        </div>     
        {% else %}
        <div class="row text-center">
            <div class="col-12">
                <p>No Works Available</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}