<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- Photos -->
<section id="posts" class="pb-5">
  <div class="container container-work">
    <!-- <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5 blog-title post-title title"></h2>
            </div>
        </div> -->
    {% if works %} {% for work in works %} {% if work.is_published %}
    <div class="row work-row text-center post-container">
      <div class="col-md-6 mb-3 col-work-img">
        <img src="{{ work.photo_main.url }}" alt="" class="mb-3 img-fluid" />
      </div>
      <div class="col-md-6 mb-3 col-work">
        <div class="body">
          <h5 class="work-title red-title">{{ work.title }}</h5>
          <p class="card-text justify">{{ work.description }}</p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %} {% else %}
    <div class="row text-center">
      <div class="col-md-12">
        <p>No Work Available</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}